/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes scroll-left {
  0%   { transform: translateX(0%);    }
  100% { transform: translateX(-50%);  }
}

@layer utilities {
  .animate-scroll {
    animation: scroll-left 30s linear infinite;
  }
}


@layer utilities {
    .bg-grid {
          background-image:
                  linear-gradient(to right, rgba(255, 255, 255, 0.04) 1px, transparent 1px),
                  linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px);
          background-size: 64px 64px;
    }
}
